.account{
    align-content: space-between;
    width: 20px;
    height: 20px;
}


.button{
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    width: 20px;
    height: 20px;
    padding: 20px;
    display: block;
}

